.nav-container{
    display: flex;
    background-color: #000;
    justify-content: space-between;
}

.image{
    height: 4rem;
    padding-top: 20px;
}

.login-container{
    padding-right: 27px;
}

.login{
    color: white;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}