.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-logo{
  padding-top: 5rem;
  height: 150px;
}

.main-text{
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.display-section{
  background-color: #282c34;
  height: 90vh;
}

.display-section-3{
  background-color: #fff;
  height: 90vh;
}

@media (min-width: 951px) and (max-width: 1080px) {
  .display-section{
    background-color: #282c34;
    height: 50vh;
  }
}

@media (min-width: 600px) and (max-width: 950x) {
  .display-section{
    background-color: #282c34;
    height: 60vh;
  }
}

@media (min-width: 200px) and (max-width: 419px) {
  .main-logo{
    padding-top: 5rem;
    height: 70px;
  }

  .main-text{
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
  }

  .display-section{
    background-color: #282c34;
    height: 60vh;
  }
}

@media (min-width: 1080px) and (max-width: 2160) {
  .display-section{
    background-color: #282c34;
    height: 50vh;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
